body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(206, 217, 225);
}

a {
    text-decoration: none;
    color: black;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    margin-top: 12%;
    width: 55%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgb(75, 75, 75, 15%) 20px 25px;
}

h1 {
    color: rgb(75, 75, 75);
}

.jokeParagraph {
    margin: 60px 0;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    color: rgb(154, 154, 154);
}

#ratingButtons {
    display: flex;
}

.ratingBtn {
    padding: 0;
    margin: 0.75em;
    width: auto;
    height: auto;
    background: none;
}

button {
    width: 250px;
    height: 65px;
    margin: 25px;
    border: none;
    border-radius: 15px;
    background-color: rgb(101, 148, 187);
    color: white;
    font-size: 1.25em;
    font-weight: 500;
}

#btn:hover {
    background-color: rgb(90, 134, 170);
}

#btn:active {
    background-color: rgb(78, 118, 151);
}

button:hover {
    cursor: pointer;
}

aside {
    font-weight: 600;
    margin-left: 1em;
}